
body{
    background-color: rgb(42, 165, 138);
    overflow-x: hidden;
    
}

h1{
    color:green;
}
   h1,h2{ 
       font-family: 'Lobster', cursive;

}
.img-responsive img {
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.img-responsive {
    padding:10px;
    overflow: hidden;
    box-shadow: 2px 4px 12px 2px #dcdcdc;
}
.img-responsive:hover img {
    
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}