{%extends 'all/base.html'%}

{% block content %}
{{block.super}}
<div class="container animated zoomIn">

    <!-- Looping through news   -->
    {% for photos_item in photos %}
  
    
    <div class="col-md-4 img-responsive">
      <div class="image-details">
        
          <h2 class="text-center"> {{ photos_item.title }} </h2>
        </div>
      <img src="{{photos_item.photo.url}}" class="img-responsive" alt="Image" style="height: 300px;">
     
      <div class="img-responsive"> 
          <a onclick="copyLink({{photo.id}})"><button type="button"
          class="btn btn-outline-warning my-2 my-sm-0 link-btn">Copy Paste this Link:</button></a>
      <input class="form-control" type="text" value="http://127.0.0.1:8000{{photos_item.photo.url}}"
        id="thislinkhere-{{photo.id}}" style="width:50%;">
      </div>
  </div>
      
  
  

    {% empty %}
    <div class="row">
      <h2 class="text-center">There are No Photos yet</h2>
    </div>
    {% endfor %}
  
  </div>
{% endblock %}